<h1>Items#index</h1>



<%@foodlist.each do |food|%>
    <% case @language %>
    <% when 'Japanese' %>
        <%= food.japanese_name %>
    <% when 'English' %>
        <%= food.english_name %>
    <% end %>
    <%= link_to '詳細1', '/categories/'+food.id.to_s %>
<a href='/categories/<%= food.id %>'>詳細2</a>

<a href="/categories/<%= food.id %>/edit">編集</a><br>


<%end%>
<p>Find me in app/views/categories/index.html.erb</p>

<%# aがリンクという意味で、食べ物の新規投稿に飛ばす %>
<a href="/categories/new">新規投稿</a>

