<h1>Setting Category</h1>



<%@categories.each do |c|%>
    <% case @language %>
    <% when 'Japanese' %>
        <a href='/categories/<%= c.id %>'><%= c.japanese_name %></a>
        <a href="/categories/<%= c.id %>/edit">編集</a><br>
    <% when 'English' %>
        <a href='/categories/<%= c.id %>'><%= c.english_name %></a>
        <a href="/categories/<%= c.id %>/edit">edit</a><br>
    <% end %>


<%end%>
<p>Find me in app/views/categories/index.html.erb</p>

<%# aがリンクという意味で、食べ物の新規投稿に飛ばす %>
<a href="/categories/new?id=<%= params[:id] %>">新規投稿</a>

