<header>
    <h2>ShareShop(仮)</h2>
    <ul>
        <li></li>
        <%= render partial: "layouts/setting" %>
        <li>
            <%= render partial: "layouts/languageOption" %>
        </li>
        <% if controller.controller_name == "tops" && controller.action_name == "index" %>
        <% else %>
            <li><%= link_to "トップへ", root_path %></li>
        <% end %>
        <% if user_signed_in? %>
            <li><%= link_to "ユーザー情報の編集", edit_user_registration_path %></li>
            <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "サインイン", new_user_session_path %></li>
            <li><%= link_to "サインアップ",  new_user_registration_path %></li>
        <% end %>
    </ul>
</header>