<header>
    <h2>ShareShop(暂时的)</h2>
    <ul>
        <% if controller.controller_name == "tops" && controller.action_name == "index" %>
            <li></li>
            <li>
                <select name="select" onChange="location.href=value;">
                    <% path = request.path %>
                    <option value="#">语言选择</option>
                    <option value=<%= path + "?lang=jp" %>>日本語</option>
                    <option value=<%= path + "?lang=eng" %>>English</option>
                </select>
            </li>
        <% else %>
            <li></li>
            <li>
                <select name="select" onChange="location.href=value;">
                    <% path = request.path %>
                    <option value="#">语言选择</option>
                    <option value=<%= path + "?lang=jp" %>>日本語</option>
                    <option value=<%= path + "?lang=eng" %>>English</option>
                </select>
            </li>
            <li><%= link_to "首页", root_path(:lang => "china") %></li>
        <% end %>
        <% if user_signed_in? %>
            <li><%= link_to "编辑用户信息", edit_user_registration_path(:lang => "china") %></li>
            <li><%= link_to "登出", destroy_user_session_path(:lang => "china"), method: :delete %></li>
        <% else %>
            <li><%= link_to "登入", new_user_session_path(:lang => "china") %></li>
            <li><%= link_to "报名",  new_user_registration_path(:lang => "china") %></li>
        <% end %>
    </ul>
</header>