<header>
    <h2>ShareShop(Maybe change name)</h2>
    <ul>
        <li></li>
        <li>
            <%= render partial: "layouts/languageOption" %>
        </li>
        <% if controller.controller_name == "tops" && controller.action_name == "index" %>
        <% else %>
            <li><%= link_to "To Top Page", root_path %></li>
        <% end %>
        <% if user_signed_in? %>
            <li><%= link_to "Edit your user information", edit_user_registration_path %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Up",  new_user_registration_path %></li>
        <% end %>
    </ul>
</header>