<header>
    <h2>ShareShop(暂时的)</h2>
    <ul>
        <li></li>
        <li>
            <%= render partial: "layouts/languageOption" %>
        </li>
        <% if controller.controller_name == "tops" && controller.action_name == "index" %>
        <% else %>
            <li><%= link_to "首页", root_path %></li>
        <% end %>
        <% if user_signed_in? %>
            <li><%= link_to "编辑用户信息", edit_user_registration_path %></li>
            <li><%= link_to "登出", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "登入", new_user_session_path %></li>
            <li><%= link_to "报名",  new_user_registration_path %></li>
        <% end %>
    </ul>
</header>