<header>
    <h2>ShareShop(仮)</h2>
    <ul>
        <% if controller.controller_name == "tops" && controller.action_name == "index" %>
            <li></li>
            <li>
                <select name="select" onChange="location.href=value;">
                    <% path = request.path %>
                    <option value="#">言語選択</option>
                    <option value=<%= path + "?lang=eng" %>>English</option>
                    <option value=<%= path + "?lang=china" %>>中国</option>
                </select>
            </li>
        <% else %>
            <li></li>
            <li>
                <select name="select" onChange="location.href=value;">
                    <% path = request.path %>
                    <option value="#">言語選択</option>
                    <option value=<%= path + "?lang=eng" %>>English</option>
                    <option value=<%= path + "?lang=china" %>>中国</option>
                </select>
            </li>
            <li><%= link_to "トップへ", root_path %></li>
        <% end %>
        <% if user_signed_in? %>
            <li><%= link_to "ユーザー情報の編集", edit_user_registration_path %></li>
            <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "サインイン", new_user_session_path %></li>
            <li><%= link_to "サインアップ",  new_user_registration_path %></li>
        <% end %>
    </ul>
</header>