<!DOCTYPE html>
<html>
  <head>
    <title>ShareShop(仮)</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% case params[:lang] %>
    <% when "eng" %>
      <%= render partial: "layouts/headerEng" %>
    <% when "china" %>
      <%= render partial: "layouts/headerChina" %>
    <% else %>
      <%= render partial: "layouts/headerJp" %>
    <% end %>  
    <main>
      <%= yield %>
    </main>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
